[submodule "Machine Vision Lab"]
	path = Machine Vision Lab
	url = git@github.com:nirajitpramanik/machine-vision-lab.git
	branch = main
[submodule "Web Programming Lab"]
	path = Web Programming Lab
	url = https://github.com/nirajitpramanik/web-programming
	branch = main
[submodule "Machine Learning"]
	path = Machine Learning
	url = git@github.com:nirajitpramanik/Machine-Learning-Lab.git
	branch = main
[submodule "Database Systems"]
	path = Database Systems
	url = git@github.com:nirajitpramanik/DBMS-Lab.git
	branch = main
